.tab-buttons {
  display: flex;
}

.tab-button {
  background-color: #1a1d28;
  border: none;
  width: 100%;
  cursor: pointer;
}

.active {
  border-bottom: 1px solid white;
}

.tab-icon {
  padding: 10px 0;
  font-size: 14px;
  color: white;
}
