.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.fh {
  height: 100%;
}

.fw {
  width: 100%;
}

.gap-5px {
  gap: 5px;
}

.text-left {
  text-align: left;
}
